body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: skyblue;
}

#logo{
    padding: 15px;
}

/*=============================== AFRICA ================================= */

#africa-drop{
    position: absolute;
    left: 437px;
    top: 262px;
}

#africa-draggable{
    position: absolute;
    left: -30px;
    bottom: 0;
    transform: scale(0.3);
}

/*=============================== ASIA ================================= */

#asia-drop{
    position: absolute;
    left: 539px;
    top: 40px;
}

/*=============================== AUSTRALIA ================================= */

#australia-drop{
    position: absolute;
    left: 775px;
    top: 393px;
}

/*=============================== EUROPE ================================= */

#europe-drop{
    position: absolute;
    left: 460px;
    top: 130px;
}

/*=============================== GREENLAND ================================= */

#greenland-drop{
    position: absolute;
    left: 380px;
    top: 60px;
}

/*=============================== NORTH AMERICA ================================= */

#north-america-drop{
    position: absolute;
    left: 40px;
    top: 60px;
}

/*=============================== SOUTH AMERICA ================================= */

#south-america-drop{
    position: absolute;
    left: 260px;
    top: 355px;
}